:root {
    --primary: #9c2788;
    --primaryDark: #891190;
    --secondary: #ffce08;
    --secondaryDark: rgb(233, 287, 2);
    --white: #ffffff;
    --black: #000000;

    --principalFont: "Staatliches", cursive;
}

/* Globals */
html {
    font-size: 62.5%;
    background-color: var(--primary);
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--principalFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--primaryDark);
    margin-top: 2rem;
    padding: 1rem 0;
}

.footer__text {
    text-align: center;
    font-family: var(--principalFont);
    font-size: 2.2rem;
}

/* Navigation */
.nav {
    background-color: var(--primaryDark);
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    /* gap: 2rem; New way of separation. */
}

.nav__link {
    color: var(--white);
    font-size: 3rem;
    font-family: var(--principalFont);
    margin-right: 2rem;
}

.nav__link:last-of-type {
    margin-right: 0;
}

.nav__link--active,
.nav__link:hover {
    color: var(--secondary);
}
