:root {
    --primary: #9c2788;
    --primaryDark: #891190;
    --secondary: #ffce08;
    --secondaryDark: rgb(233, 287, 2);
    --white: #ffffff;
    --black: #000000;

    --principalFont: "Staatliches", cursive;
}

/* Globals */
html {
    font-size: 62.5%;
    background-color: var(--primary);
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--principalFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--primaryDark);
    margin-top: 2rem;
    padding: 1rem 0;
}

.footer__text {
    text-align: center;
    font-family: var(--principalFont);
    font-size: 2.2rem;
}

/* Navigation */
.nav {
    background-color: var(--primaryDark);
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    /* gap: 2rem; New way of separation. */
}

.nav__link {
    color: var(--white);
    font-size: 3rem;
    font-family: var(--principalFont);
    margin-right: 2rem;
}

.nav__link:last-of-type {
    margin-right: 0;
}

.nav__link--active,
.nav__link:hover {
    color: var(--secondary);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Product */
.product {
    background-color: var(--primaryDark);
    padding: 1rem;
}

.product__image {
    width: 100%;
}

.product__name {
    font-size: 4rem;
}

.product__price {
    font-size: 2.8rem;
    color: var(--secondary);
}

.product__name,
.product__price {
    text-align: center;
    margin: 1rem 0;
    font-family: var(--principalFont);
    line-height: 1.2;
}

/* Graphics */
.graphic {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.graphic--shirts {
    grid-row: 2 / 3;
    background-image: url("../img/grafico1.jpg");
}

.graphic--node {
    grid-row: 8 / 9;
    background-image: url("../img/grafico2.jpg");
}

@media (min-width: 768px) {
    .graphic--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}
